@charset "UTF-8";

body {
    background-image: url(../img/fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/*------------ Login container ------------*/
.box-area {
    margin: 0; /* Remover margens */
    width: 930px;
}

/*------------ For small screens------------*/
@media only screen and (max-width: 768px) {
    .box-area {
        margin: 0 10px;
    }
    .left-box {
        height: 100px;
        overflow: hidden;
    }
}